<a style="position:absolute; top:10px" ng-click="showRoleOneChat()"><img id="one-arrow-direction" src="https://cdn3.iconfinder.com/data/icons/arrows/16/arrow__chevron-small-circle-4-01-512.png" width=30px alt=""></a>
<div class="scrollbar style-3" id="one-chatWindow" class="custom-fade">
  <h1 style="text-align: center; margin: 0px">{{roleOneName}}</h1>
  <ul id="chat-content" style="font-family: monospace">
    <li ng-repeat="onechat in onechatLog track by $index"><span style="font-weight: bold">{{onechat.username}}:</span> {{onechat.message}}</li>
  </ul>
</div>
<form id="one-form" onsubmit="return false;">
  <input type="text" id="oneUserInput" />
  <input id="chatInput" type="submit" ng-click="oneSend()" />
</form>
