<a style="position:absolute; top:10px" ng-click="showRoleTenChat()"><img id="ten-arrow-direction" src="https://cdn3.iconfinder.com/data/icons/arrows/16/arrow__chevron-small-circle-4-01-512.png" width=30px alt=""></a>
<div class="scrollbar style-3" id="ten-chatWindow" class="custom-fade">
  <h1 style="text-align: center; margin: 0px">{{roleTenName}}</h1>
  <ul id="chat-content" style="font-family: monospace">
    <li ng-repeat="tenchat in tenchatLog track by $index"><span style="font-weight: bold">{{tenchat.username}}:</span> {{tenchat.message}}</li>
  </ul>
</div>
<form id="ten-form" onsubmit="return false;">
  <input type="text" id="tenUserInput" />
  <input id="chatInput" type="submit" ng-click="tenSend()" />
</form>
