<a style="position:absolute; top:10px" ng-click="showRoleThreeChat()"><img id="three-arrow-direction" src="https://cdn3.iconfinder.com/data/icons/arrows/16/arrow__chevron-small-circle-4-01-512.png" width=30px alt=""></a>
<div class="scrollbar style-3" id="three-chatWindow" class="custom-fade">
  <h1 style="text-align: center; margin: 0px">{{roleThreeName}}</h1>
  <ul id="chat-content" style="font-family: monospace">
    <li ng-repeat="threechat in threechatLog track by $index"><span style="font-weight: bold">{{threechat.username}}:</span> {{threechat.message}}</li>
  </ul>
</div>
<form id="three-form" onsubmit="return false;">
  <input type="text" id="threeUserInput" />
  <input id="chatInput" type="submit" ng-click="threeSend()" />
</form>
