@mixin justifier {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



body {
  width: 98vw;
  height: 97vh;
  background-image: url('https://dl.dropbox.com/s/5hqbjkhskrz6c47/night_layered.jpg');
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: contain;
  transition-property: background-image;
  transition-duration: 2s;
  font-family: 'Great Vibes', cursive;
}
#main-parent {
  height: auto;
  width: 100%;
  @include justifier;
}
#cover {
  width: auto;
  min-width: 500px;
  height: auto;
  background-color: rgba(140, 140, 140, 0.6);
  border-radius: 10px;
}
#add-player {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 18px;
  width: 150px;
  position: absolute;
  top: 40px;
  left: 90px;
}
#profiles {
  @include justifier;
  justify-content: space-around;
  margin: 20px;
}
.frame {
  margin: 40px;
  position: relative;
  height: 200px;
  width: 200px;
  @include justifier;
}
.initials {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  margin-top: 20%;
  font-size: 55px;
}
#create {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 18px;
}
#delete {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 18px;
}
button {
  border-radius: 6px;
  background-color: rgba(140, 140, 140, 0.9);
}
#kill {
  // display: none;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 18px;
  width: 100px;
}
#rip-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin: 40px;
}
#rip-one-name {
  position: absolute;
}
#rip-one-saying {
  position: absolute;
  padding-top: 75px;
  font-family: serif;
}
#profile-one {
  height: 300px;
}
#profileRepeater {
  height: 400px;
}
.custom-fade.ng-enter  {
  animation:3s anim_enter;
  position:absolute;
}
@keyframes anim_enter {
  from {
    // width:110%;
    opacity: 0;
  }
  to {
    // width:100%;
    opacity: .6;
  }
}

.custom-fade.ng-leave{
  animation:3s anim_leave;
  position:absolute;
}

@keyframes anim_leave {
  from {
    opacity: .6;
  }
  to {
    opacity: 0;
  }
}
#chatWindow {
  height: 400px;
  width: 230px;
  position: absolute;
  top: -200px;
  left: -230px;
  z-index: 10;
  overflow: auto;
  background-color: rgba(140, 140, 140, 0.9);
}
#chatBump {
  height: 50px;
  width: 30px;
  background-color: rgba(140, 140, 140, 0.6);
  position: absolute;
  left: 0px;
  transition: all .5s;
}
#werewolf-arrow-direction {
  transform: rotate(180deg);
  transition: all .5s;
}
#werewolf-chatWindow {
  height: 400px;
  width: 0px;
  position: absolute;
  top: -200px;
  right: -230px;
  z-index: 10;
  overflow: auto;
  background-color: rgba(140, 140, 140, 0.9);
  // transition: all .5s;
}

#werewolf-chatBump {
  height: 50px;
  width: 30px;
  background-color: rgba(140, 140, 140, 0.6);
  position: absolute;
  right: 0px;
  // transition: all .5s;
}
#arrow-direction {
  transition: all .5s;
}
#chatInput {
  position:absolute;
  bottom: 0px;
}
#form {
  z-index: 10;
  width: 230px;
  position: absolute;
  bottom: -173px;
  left: -230px;
}
#chat-view {
  height: 200px;
  width: 200px;
  font-family: monospace;
  text-overflow: clip;
  overflow: auto;
  z-index: 20;
  background-color: rgba(140, 140, 140, 0.6);
}
#werewolf-form {
  z-index: 10;
  width: 230px;
  position: absolute;
  bottom: -173px;
  right: -230px;
  display: none;
}
#werewolf-chat-view {
  height: 200px;
  width: 0px;
  font-family: monospace;
  text-overflow: clip;
  overflow: auto;
  z-index: 20;
  background-color: rgba(140, 140, 140, 0.6);
}

#chat-content {
  margin-left: -35px;
}

li {
  list-style-type: none;
}
.scrollbar
{
  float: left;
  background: #F5F5F5;
  margin-bottom: 25px;
}
.style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb
{
  background-color: #000000;
}
#notices {
  width: 400px;
  height: 200px;
  background-color: rgba(140, 140, 140, 0.7);
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  color: black;
  overflow: auto;
}
#announcements-chatWindow {
  height: 400px;
  width: 0px;
  position: absolute;
  top: -200px;
  right: -230px;
  z-index: 10;
  overflow: auto;
  background-color: rgba(140, 140, 140, 0.9);
  // transition: all .5s;
}
