<a style="position:absolute; top:10px" ng-click="showWerewolfChat()"><img id="werewolf-arrow-direction" src="https://cdn3.iconfinder.com/data/icons/arrows/16/arrow__chevron-small-circle-4-01-512.png" width=30px alt=""></a>
<div class="scrollbar style-3" id="werewolf-chatWindow" class="custom-fade">
  <h1 style="text-align: center; margin: 0px">Werewolves</h1>
  <ul id="chat-content" style="font-family: monospace">
    <li ng-repeat="werewolfchat in werewolfchatLog track by $index"><span style="font-weight: bold">{{werewolfchat.username}}:</span> {{werewolfchat.message}}</li>
  </ul>
</div>
<form id="werewolf-form" onsubmit="return false;">
  <input type="text" id="werewolfUserInput" />
  <input id="chatInput" type="submit" ng-click="werewolfSend()" />
</form>
